<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="Context" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=CoreApplication;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="http://localhost:9011/"/>
  </appSettings>
</configuration>
