<section class="featured section-padding">
  <div class="container">
    <h1 class="section-title">Latest startups</h1>
    <div class="row">
        <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-4"
        *ngFor="let startup of startups"
      >
        <div class="featured-box">
          <figure>
            <div class="icon">
              <span class="bg-green"><i class="lni-heart"></i></span>
              <span><i class="lni-bookmark"></i></span>
            </div>
            <a href="#"
              ><img class="img-fluid" src="assets/img/featured/img-1.jpg" alt=""
            /></a>
          </figure>
          <div class="feature-content">
            <h4><a href="ads-details.html">{{startup.name}}</a></h4>
            <div class="meta-tag">
              <span>
                <a href="#"><i class="lni-user"></i> John Smith</a>
              </span>
              <span>
                <a href="#"><i class="lni-map-marker"></i> New York, US</a>
              </span>
              <span>
                <a href="#"><i class="lni-tag"></i> Canon</a>
              </span>
            </div>
            <p class="dsc">
             {{startup.description}}
            </p>
            <div class="listing-bottom">
                <span class="icon-wrap float-left">
                    <i class="lni-star-filled"></i> <i class="lni-star-filled"></i>
                    <i class="lni-star-filled"></i> <i class="lni-star-filled"></i>
                    <i class="lni-star-filled"></i> <i class="lni-star"></i>
                  </span>
                  <span class="count-review float-left"> (12) </span>
                  <h5 class="price float-right">${{ startup.price }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
