<section class="featured section-padding">
  <div class="container">
    <h1 class="section-title">Get pro services</h1>
    <div class="row">
      <div
        class="col-xs-6 col-sm-6 col-md-6 col-lg-4"
        *ngFor="let service of services"
      >
        <div class="featured-box">
          <figure>
            <a href="#"
              ><img class="img-fluid" src="assets/img/featured/img-1.jpg" alt=""
            /></a>
          </figure>
          <div class="feature-content">
            <h4>
              <a href="ads-details.html">{{ service.name }}</a>
            </h4>
            <p class="dsc">{{ service.description }}</p>
            <div class="col-xs-12">
              <span class="icon-wrap float-left">
                <i class="lni-star-filled"></i> <i class="lni-star-filled"></i>
                <i class="lni-star-filled"></i> <i class="lni-star-filled"></i>
                <i class="lni-star-filled"></i> <i class="lni-star"></i>
              </span>
              <span class="count-review float-left"> (12) </span>
              <h5 class="price float-right">${{ service.price }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>