<app-startup-nav></app-startup-nav>
<!-- <app-search-banner></app-search-banner> -->
<section class="works section-padding">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <figure>
          <a href="#"><img class="img-fluid" src="assets/img/avtar.png" alt="" class="img-fluid" /></a>
        </figure>
        <span>User</span>
      </div>
      <div class="col-8 bg-light">
        <div class="col-12"></div>
        <h5>Post title</h5>
      </div>
      <div class="col-2">

      </div>
    </div>
  </div>
</section>