<div id="hero-area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-9 col-xs-12 text-center">
        <div class="contents">
          <h1 class="head-title">
            Welcome to the <span class="year">{{ appName }} </span>
          </h1>
          <p>A startup for startups</p>
          <div class="search-bar">
            <div class="search-inner">
              <form class="search-form">
                <div class="form-group">
                  <input
                    type="text"
                    name="customword"
                    class="form-control"
                    placeholder="What are you looking for?"
                  />
                </div>
                <button class="btn btn-common" type="button">
                  <i class="lni-search"></i> Search Now
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
