.fixed-top {
  top: 0px;
}

.search-bar .form-group {
  width: 75%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 12px;
  padding: 0px 5px;
  text-transform: uppercase;
  line-height: 28px;
  margin-right: 5px;
}

.nav-link:hover {
  background: #e91e63;
  color: #fff !important;
}
