<header id="header-wrap">
  <nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
    <div class="container main-nav">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <h1>{{ appName }}</h1>
        </a>
      </div>
    </div>
  </nav>
</header>
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
  <div class="container starter-nav">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <div class="collapse navbar-collapse" id="main-navbar">
              <ul class="navbar-nav mr-auto w-100">
                <li class="nav-item">
                  <a class="nav-link" href="#"> Experts </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Incubators </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Investors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Filling </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#"> Legal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Govt. scheme </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Event </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> IN agreement </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Startup & review </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Market place </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Contact </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Help </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container sub-starter-nav">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100">
              <li class="nav-item">
                <a class="nav-link" href="#"> Your startup </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Notification </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Pushed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Reviewed </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Saved</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Like </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Dislike </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Push </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>